# Repository Specific
/bin/
/obj/
/out/
/external/
/artifacts/
/.nuget-feed/
/.nuget-cache/

# Build Results
[Bb]in/
[Oo]bj/

# Python
*.pyc

# IDE: Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE: Visual Studio Code
!.vscode/

# IDE: IDEA family
.idea

# IDE: Xamarin Studio (MonoDevelop)
*.userprefs
