<configuration>
    <config>
      <add key="globalPackagesFolder" value="./.nuget-cache" />
      <add key="repositoryPath" value="./.nuget-cache" />
    </config>
    <packageSources>
        <add key="glacie-tools-local" value="./.nuget-feed" />
        <!--
        <add key="glacie-local" value="../glacie/.nuget-feed" />
        -->
    </packageSources>
</configuration>
